{% extends 'base.html' %}
{% load staticfiles %}

{% block other_css %}
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'css/elec_shop.index.css' %}">
{% endblock other_css %}

{% block content %}
    <div class="container">
        <!-- Latest Additions -->
        <div class="row border-bottom mb-4">
            <div class="m-auto">
                <p class="content-label">Our Latest Additions</p>
            </div>
            <div class="owl-carousel">
                <div class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi molestias sint ipsum alias similique rem, ullam nihil illum quas molestiae? At aspernatur illum cum explicabo dolorum eius cumque officiis numquam!</div>
                <div class="item">Quod error quia beatae, id quo illum quibusdam neque totam quis velit vel incidunt eum tempora, sed, harum nihil eius, doloremque eos distinctio. Nesciunt tempore sit animi qui quos laudantium.</div>
                <div class="item">Quis aperiam ipsam perspiciatis voluptatum quae itaque neque in a repellat animi, enim laboriosam illum odio culpa ut perferendis magnam veritatis. Voluptatum magnam reprehenderit, suscipit optio aliquid repellendus earum voluptatem?</div>
                <div class="item">Nesciunt, autem asperiores error iusto minima ex minus quaerat, soluta doloremque. Accusamus possimus quod, sequi nostrum distinctio vel aperiam nemo voluptate! Velit libero impedit tempore inventore, aliquam cumque praesentium, rerum.</div>
                <div class="item">Ipsum, nisi fuga, eos ad commodi quaerat cupiditate, iure rem esse impedit beatae maxime, ullam obcaecati labore odit? Nam esse dicta veritatis ipsa doloremque. Eaque explicabo aspernatur dolorum facilis assumenda.</div>
                <div class="item">Eum a natus dolore exercitationem quibusdam cupiditate dicta minus illo facere dolorem, nemo accusamus rerum at molestiae id possimus praesentium magnam eaque tempora quaerat esse nostrum aspernatur voluptates ab! Maiores?</div>
                <div class="item">Accusamus distinctio asperiores maiores, vitae quos iste non cupiditate totam magnam qui, dolore eos. Provident assumenda ea cumque odit veritatis accusamus commodi. Delectus dolor, consectetur! Non iusto neque fugiat numquam.</div>
                <div class="item">Repudiandae doloribus illum minima quas. Non officiis nihil qui odit, odio magni ea omnis aut, vero esse natus a aperiam, iure explicabo iste! Voluptatem id aspernatur quos rem, ad similique.</div>
                <div class="item">Voluptatem aperiam amet, ad. Aliquid sed rem qui neque ea perferendis quo id quasi ipsam quod, quos provident eum, assumenda doloremque repellat iure officiis architecto dolorum eos fugiat similique, ducimus.</div>
                <div class="item">Laboriosam voluptatibus nisi sed porro similique quisquam incidunt optio ratione nihil eos magni minus voluptatum vitae omnis cum, dignissimos ea natus blanditiis repudiandae dolor ut nulla? Maiores culpa enim dolor?</div>
            </div>

        </div>
        <!-- Discounted Items -->
        <div class="row border-bottom mb-4">
            <div class="m-auto">
                <p class="content-label">Check out these offers!</p>
            </div>
            <div class="owl-carousel">
                <div class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, veritatis ipsam harum qui similique aut mollitia earum deleniti, enim modi, nobis cumque delectus nisi iure autem temporibus facere. Impedit, fugiat.</div>
                <div class="item">Nostrum veritatis, aut, esse deleniti iure aperiam saepe molestias accusamus vel reprehenderit pariatur perspiciatis illum animi nulla nihil dolor sit ratione dolores quasi error. Illum, dolores dolorum laudantium laboriosam consequuntur.</div>
                <div class="item">Quasi quia error iure dolores, accusamus ex velit impedit eos ratione cumque. Reprehenderit, rem maxime impedit nihil modi illo vitae quisquam sunt consequatur magni culpa architecto excepturi eum, deleniti dolore.</div>
                <div class="item">Soluta veniam consectetur at rem fugit ipsum explicabo hic repellat eos nobis expedita aperiam magni accusamus ullam, et incidunt eveniet ex sed reiciendis odit repudiandae culpa architecto officiis. Error, eligendi.</div>
                <div class="item">Laudantium adipisci omnis sit atque voluptas debitis officiis fugit optio temporibus corporis distinctio, fugiat totam soluta rem reprehenderit eveniet et autem cum eius inventore. Voluptatum iure reiciendis maxime deleniti velit.</div>
                <div class="item">Eligendi, suscipit veritatis totam nobis voluptatem amet earum, laborum sunt in perferendis, eveniet nihil harum ducimus architecto consequatur, aliquid voluptatum odio maxime quisquam ipsum! Autem nemo iusto incidunt amet aliquam!</div>
                <div class="item">Qui quibusdam, provident sapiente harum, molestias soluta iusto ducimus autem aperiam in veritatis molestiae omnis cumque ipsa corrupti accusantium modi? Dolorum nobis animi rem accusamus sit delectus ex consectetur provident?</div>
                <div class="item">Architecto harum laudantium explicabo eos tempore natus accusamus voluptates provident nemo, perferendis hic ipsum. Ea culpa aliquam velit ducimus assumenda expedita voluptates nisi quos perspiciatis, in laboriosam nam, necessitatibus excepturi!</div>
                <div class="item">Saepe ex commodi fugiat quaerat, perferendis vitae alias et voluptate quisquam consequuntur voluptates in velit adipisci ipsa repellat quia, fugit odio esse explicabo praesentium labore eos voluptatibus! Similique aperiam, aut?</div>
                <div class="item">Velit cumque totam, doloremque molestiae fugiat blanditiis nam ducimus, laborum vero ipsa, non reiciendis libero officiis nisi perferendis asperiores, debitis quam. Accusamus aperiam iste, harum enim inventore eum deleniti vel.</div>
            </div>
        </div>
        <!-- Recommendations -->
        <div class="row border-bottom mb-4">
            <div class="m-auto">
                <p class="content-label">Based on what you have viewed or purchased</p>
            </div>
            <div class="owl-carousel">
                <div class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem atque ratione adipisci, in, enim debitis laudantium maiores reiciendis odio. Ducimus possimus architecto reiciendis sint rem incidunt quas pariatur mollitia a!</div>
                <div class="item">Sunt ipsam modi fugiat facilis sit, labore doloremque hic! Ab voluptatem aliquid, minus quisquam. Assumenda quasi necessitatibus dignissimos obcaecati nesciunt velit qui magni distinctio doloremque, iure, neque maxime blanditiis quis.</div>
                <div class="item">Voluptatem sint perspiciatis nulla eligendi quo eveniet quis? Odio in consequatur, voluptatibus, tenetur porro sunt fugit at doloribus error necessitatibus, aliquam accusamus numquam animi aliquid doloremque sed sequi perspiciatis repudiandae.</div>
                <div class="item">Quam sint exercitationem at modi nisi incidunt placeat earum ab nostrum alias qui, amet vel, laudantium quas repudiandae dolore tenetur! Corporis, ratione temporibus possimus tempore commodi tempora sed, unde mollitia.</div>
                <div class="item">Nemo praesentium, quod ea saepe expedita molestias corporis eaque, excepturi. Velit quidem similique, tenetur, voluptatem eveniet blanditiis dolores commodi beatae praesentium incidunt temporibus iste laboriosam deserunt nesciunt expedita. Ratione, et.</div>
                <div class="item">Odit neque ab vel nesciunt, dolorem voluptatibus, nulla dignissimos repudiandae fugit, modi eligendi non cupiditate voluptates iste enim ratione numquam nostrum aliquam repellendus dolore unde exercitationem animi esse molestias? Quasi.</div>
                <div class="item">Recusandae totam iusto asperiores dolorum reiciendis repellendus nihil, beatae quod cupiditate voluptate, harum earum repudiandae doloribus, ratione mollitia architecto iste in sequi doloremque voluptas sint tempore odit. Maiores, aperiam, minima.</div>
                <div class="item">Rem provident rerum nemo, accusamus molestiae accusantium quisquam. Reiciendis nostrum est, facere impedit, voluptate quasi perspiciatis eveniet cumque, eaque ullam praesentium alias. Itaque corporis, iusto quae quisquam veniam amet, dolores!</div>
                <div class="item">Adipisci nostrum, earum optio rerum inventore error distinctio quasi eos dolorum corrupti eaque accusamus maiores quos id quis explicabo laborum, obcaecati ipsam at nulla ullam repellendus pariatur. Beatae, iure, eum.</div>
                <div class="item">Sed id veritatis eius tempora dolore dolor rerum, a voluptatibus? Numquam earum perferendis non quae, qui id porro accusantium, eius omnis veniam minima, maiores, nisi eveniet facilis! Beatae, reiciendis, facere!</div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block other_js %}
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/elec_shop.index.js' %}"></script>
{% endblock other_js %}