{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block other_css %}
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'css/elec_shop.index.css' %}">
{% endblock other_css %}

{% block content %}
    <div class="container">
        <!-- Featured Products -->
        <!-- TODO: Add a Bootstrap Carousel -->
        <!-- Featured Products end -->

        <!-- Latest Additions -->
        <div class="row border-bottom mb-4">
            <div class="mx-auto">
                <p class="content-label">Our Latest Additions</p>
            </div>
            <div class="owl-carousel mb-3">
                {% for prod in latest %}
                    <div class="card">
                        <img src="{{ prod.thumbnail.url }}" alt="{{ prod.name }}" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h5 class="card-title">{{ prod.manufacturer }} {{ prod.name }}</h5>
                            <p class="card-text text-success">&#x20b9;{{ prod.price|intcomma }}</p>
                            <a href="{{ prod.get_url }}" class="btn c-btn-color">View</a>
                            <a href="#" class="btn c-alt-btn-color">Add to Cart</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Latest Addititons end -->

        <!-- Discounted Items -->
        <div class="row border-bottom mb-4">
            <div class="mx-auto">
                <p class="content-label">Check out these offers!</p>
            </div>
            <div class="owl-carousel">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolores quo a reprehenderit esse delectus voluptatum harum autem iste sint ut, commodi perferendis nulla voluptates officia, voluptate laborum non earum!</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Sequi necessitatibus temporibus, inventore sapiente neque, iure natus? Eos, recusandae, laborum blanditiis ex quod in facilis eum praesentium esse eligendi non laboriosam nulla voluptas minima aperiam repudiandae, eveniet quos. Molestiae.</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Pariatur magnam accusamus dolorum perferendis suscipit ipsa esse, iure adipisci, sequi aspernatur, facilis enim! Iure libero, voluptatem praesentium modi nemo, veniam vero distinctio doloremque voluptates est asperiores. Omnis, excepturi quibusdam?</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Ipsa excepturi quam quisquam veniam deleniti dolorem eos iste odio accusamus voluptate similique perspiciatis minima repellendus quasi officia impedit quaerat beatae, ipsum hic, cumque porro? Soluta facere hic, voluptatibus cupiditate!</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Hic maxime dolore numquam explicabo consequuntur, perspiciatis ut laudantium amet repudiandae qui exercitationem sed? Velit vel quisquam dolor fuga rem enim facilis numquam, dolorem culpa suscipit nobis delectus veniam voluptas.</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Dolorum ab veniam, quibusdam eos officia dolores, molestiae quae harum. Blanditiis velit odio aliquid, hic vitae quo, sapiente quibusdam temporibus nesciunt veritatis! Praesentium, dicta tempore veritatis quidem, eveniet facilis modi!</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Earum quaerat dolore molestias molestiae aut laborum vitae dolores labore, ratione ut maiores laboriosam soluta animi, eum, dolorum error numquam omnis distinctio sint iste totam dolorem minima iusto perferendis recusandae.</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Saepe necessitatibus tempora eligendi quos animi reprehenderit quisquam nesciunt magni deleniti numquam cumque id deserunt, laboriosam facere sed corporis assumenda ab veritatis quam, neque alias. Repellendus, facilis doloribus veniam adipisci.</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Sed corporis vel cumque nesciunt totam quod officia quidem placeat, culpa et consectetur eos quis officiis deserunt nihil praesentium possimus? Nesciunt sint deleniti facere a, ducimus sapiente rem aut corporis.</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Discounted Items end -->

        <!-- Recommendations -->
        <div class="row border-bottom mb-4">
            <div class="mx-auto">
                <p class="content-label">Based on what you have viewed or purchased</p>
            </div>
            <div class="owl-carousel">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum recusandae neque accusamus delectus pariatur numquam beatae molestiae quia illo nam, alias nobis quam, sapiente ipsa porro ipsum vero mollitia sequi.</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Atque iure, porro doloribus, eaque explicabo quidem, provident corrupti laborum totam ea corporis tenetur numquam dicta veritatis commodi ipsa minus voluptates optio unde, soluta iste ad! Eius minima, inventore cupiditate.</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Ducimus neque rerum, praesentium accusamus, debitis cumque aliquid dolore molestiae amet eum provident sed! Voluptas cum incidunt ullam consectetur quasi nesciunt hic perferendis! Consequuntur quod, explicabo delectus ea aliquam esse?</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Ullam tempore sint velit, repellat delectus dicta quibusdam, quam, ex voluptate libero molestias facere suscipit saepe. Accusamus eius amet, laboriosam ad sint ducimus, tenetur veritatis, quisquam voluptatem voluptate repellat culpa.</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Voluptate, ratione esse mollitia odit aliquid dolorum rem obcaecati eaque fugiat tempora, libero, nihil architecto itaque nemo, et voluptatem necessitatibus earum officiis magni fuga? Obcaecati in modi voluptatem eligendi nisi.</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Sequi animi eveniet qui, adipisci quas sunt, quibusdam! Officia tenetur esse porro quo vel magnam soluta adipisci molestiae? Maiores ea, velit. Quos delectus libero doloribus facilis, perferendis voluptates culpa reiciendis!</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Repellendus veritatis eligendi, quae fuga, repellat quibusdam ea, corrupti dolore ullam odio voluptas? Aliquid magni eligendi quam vero quas ex eius, sapiente voluptate quo, laboriosam ut placeat aspernatur voluptatem et?</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Unde quo facere deleniti. Accusamus neque expedita omnis illum dolorum tempore laboriosam, at. Animi maiores, temporibus aliquid sequi magnam voluptas, odit nam, accusamus labore, fugit voluptate rem veniam reprehenderit quod?</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">Cupiditate dignissimos commodi placeat tempore tempora soluta, ea sunt, dolores nam? Est, beatae? Sit quo, sequi quisquam iste fugit tempore ea, eaque ipsum sunt tenetur temporibus minus accusantium quod necessitatibus.</p>
                        <a href="#" class="btn c-btn-color">Link</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Recommendations end -->
    </div>
{% endblock content %}

{% block other_js %}
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'js/elec_shop.index.js' %}"></script>
{% endblock other_js %}