{% load staticfiles %}

<footer>
    <div class="container">
        <div class="row">
            <!-- General info sections -->
            <div class="col-sm-6 col-lg-6 col-xl-3 c-mb">
                <div class="row">
                    <h5>The Hardware Shop</h5>
                </div>
                <div class="row">
                    <a href="#" class="footer-link">About Us</a>
                </div>
                <div class="row">
                    <a href="#" class="footer-link">Locations</a>
                </div>
                <div class="row">
                    <a href="#" class="footer-link">Jobs</a>
                </div>
            </div>
            <!-- General Info end -->

            <!-- Open Source section -->
            <div class="col-sm-6 col-lg-6 col-xl-3 c-mb">
                <div class="row">
                    <h5>Open Source!</h5>
                </div>
                <div class="row">
                    <a href="#" class="footer-link">Report an issue</a>
                </div>
                <div class="row">
                    <a href="#" class="footer-link">Contributing</a>
                </div>
                <div class="row">
                    <a href="https://www.github.com/waduhek/the-hardware-shop" class="footer-link">View Source</a>
                </div>
            </div>
            <!-- Open Source end -->

            <!-- Legal section -->
            <div class="col-sm-6 col-lg-6 col-xl-3 c-mb">
                <div class="row">
                    <h5>Legal</h5>
                </div>
                <div class="row">
                    <a href="#" class="footer-link">Terms and Conditions</a>
                </div>
            </div>
            <!-- Legal end -->

            <!-- Feedback section -->
            <div class="col-sm-6 col-lg-6 col-xl-3 c-mb">
                <div class="row">
                    <h5>Feedback</h5>
                </div>
                <div class="row">
                    <a href="#" class="footer-link">Help us make our services better</a>
                </div>
            </div>
            <!-- Feedback end -->
        </div>
    </div>
</footer>