.content-label{
    font-size: 27px;
    font-weight: 500;
}

.c-btn-color {
    color: #fff;
    border-color: #6f42c1;
    background-color: #6f42c1;
}

.c-btn-color:hover {
    color: #fff;
    background-color: #3e0a9e;
    border-color: #3e0a9e;
}

.c-btn-color:active, .c-btn-color:focus {
    color: #fff;
    border-color: #6f42c1;
    box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25);
}

.c-alt-btn-color {
    color: #6f42c1;
    background-color: transparent;
    border-color: #6f42c1;
}

.c-alt-btn-color:hover {
    color: #fff;
    background-color: #6f42c1;
}

.c-alt-btn-color:active, .c-alt-btn-color:focus {
    box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25);
}
