#productName {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}

@media (max-width: 992px) {
    #productName {
        font-size: 18px;
        font-weight: 600;
    }
}

#productCat {
    font-size: 12px;
    padding: 0 1px;
    margin: 0 0 10px 0;
    color: #fff;
    background-color: rgba(111, 66, 193, 0.4)
}

.c-border-spacing {
    margin-top: 10px;
    padding-bottom: 10px;
}

.c-basic-font {
    font-size: 13px;
}

#priceLabel {
    color: #1bd220;
    font-size: 19px;
    font-weight: 600;
}

.c-btn-buy {
    color: #fff;
    border-color: #6f42c1;
    background-color: #6f42c1;
}

.c-btn-buy:hover {
    color: #fff;
    background-color: #3e0a9e;
    border-color: #3e0a9e;
}

.c-btn-buy:active, .c-btn-buy:focus {
    box-shadow: 0 0 0 0.2rem rgba(71, 13, 177, 0.25)
}

.c-btn-atc {
    color: #6f42c1;
    background-color: transparent;
    background-image: none;
    border-color: #6f42c1;
}

.c-btn-atc:hover {
    color: #fff;
    background-color: #6f42c1;
}

.c-btn-atc:active, .c-btn-atc:focus {
    box-shadow: 0 0 0 0.2rem rgba(111, 66, 193, 0.25)
}

@media (max-width: 720px) {
    .c-btn-buy, .c-btn-atc {
        display: block;
        width: 100%;
    }

    .c-btn-buy {
        margin-bottom: 0.25rem;
    }
}

.c-fa-color {
    color: #6f42c1;
}

#increase, #decrease {
    cursor: pointer;
}

@media (max-width: 720px) {
    #increase, #decrease, #quantity {
        font-size: 2.8em;
    }

    #quantity-control {
        margin-bottom: 1rem;
    }
}

.c-nav {
    background-color: #f8f9fa;
}

.c-nav-color {
    color: #000;
}

.c-nav-color:hover {
    color: #000;
    background-color: rgba(111, 66, 193, 0.25);
}

.c-nav-color:active, .c-nav-color:focus, .c-nav-color.active {
    color: #fff;
    background-color: #6f42c1;
}
