footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    margin-top: 2em;
    background-color: #f8f9fa;
    font-size: 12px;
}

.footer-link, .footer-link:hover {
    text-decoration: none;
    color: #6f42c1;
}

.footer-link:hover {
    color: #3e0a9e;
}
